{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/extensions": ["off"],
    "import/no-unresolved": ["off"],
    "no-console": ["off"],
    "no-use-before-define": ["off"],
    "no-useless-constructor": ["off"],
    "no-shadow": ["off"],
    "no-param-reassign": ["off"],
    "class-methods-use-this": ["off"]
  }
}
